header {
    //   background-color: #24578b;
    // font-family: 'Architects Daughter', cursive;
    background-color: black;
    display: block;
    padding: 0 2em;

    #child {
        line-height: 10em;
        color: white;
    }
}

.flag-select {
//     margin-left: 0.5em;
    margin-top: 0.2em;
    // font-size: 320px;
}
