body {
    margin: 0;
    /* font-family: 'Architects Daughter', cursive; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.App-logo {
    height: 70vmin;
}

.App-header {
    min-height: 94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(1em + 2vmin);
    color: white;
    background-image: url('mainimage.jpg');
    background-repeat: 'no-repeat';
    background-position: 'center center';
    background-size: 'cover';
    background-attachment: 'fixed';
    height: '100%';
}

.App-link {
    color: rgb(118, 137, 155);
    padding-top: 5em;
}

.MuiAppBar-root {
    height: 4em;
    font-family: inherit;
}
