body {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-stroke: 1px transparent;
}

code {
    font-family: 'Architects Daughter', cursive;
}
